.rotating{ 
	-moz-animation:2s rotateRight infinite linear; 
	-webkit-animation:2s rotateRight infinite linear; 
}
.cornered {
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
	border: 2px solid #e0e0e0;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	right: 10px;
}

@-moz-keyframes rotateRight{
	0%   { -moz-transform:rotate(0deg); -moz-transform-origin:50% 50%; }
	100% { -moz-transform:rotate(360deg); }
}

@-webkit-keyframes rotateRight{
	0%   { -webkit-transform:rotate(0deg); -webkit-transform-origin:50% 50%; }
	100% { -webkit-transform:rotate(360deg); }
}
