<!DOCTYPE html>
<html ng-app="pi">
	<head>
		<title>Pi approximations</title>
		<link rel="stylesheet" href="/css/style.css">
		<script defer src="/js/script.js"></script>
	</head>
	<body>
		<div class="rotating cornered">&pi;</div>
		<div class="wrapper">
			<h1>Pi approximations</h1>
			<p>From the form below, please choose an algorithm and the desired precision, then
			tap "Calculate" to view the chosen visualisation of the approximation.</p>

			<div ng-controller="IndexCtrl">
				<div class="jumbotron">
					<form class="form-inline text-center">
						<div class="form-group">
							<select ng-model="precision" class="form-control input-lg"
							        ng-options="option for option in precisions">
							</select>
						</div>
						<div class="form-group">
							<select ng-model="algorithm" class="form-control input-lg"
							        ng-options="option.service as option.label for option in algorithms">
							</select>
						</div>
						<div class="form-group">
							<select ng-model="visualisation" class="form-control input-lg">
								<option value="table">table</option>
								<option value="chart">chart</option>
							</select>
						</div>
						<div class="form-group">
							<button ng-click="calculate()" class="btn btn-primary btn-lg"
							        >Calculate</button>
						</div>
					</form>
				</div>

				<div class="visualisation">
					<table pi-table series="series" header="{{ header }}"
					       ng-if="showTable && series.length" class="table table-striped"></table>
					<div pi-chart series="series" header="{{ header }}"
					     ng-if="showChart && series.length"></div>
				</div>
			</div>
		</div>
	</body>
</html>
